[Desktop Entry]
Type=Application
Name=Caco
Comment=Doom WAD library manager
Exec=caco-gui
Icon=caco
Categories=Game;
Keywords=doom;caco;wad;
MimeType=application/x-doom-wad;
Terminal=false
StartupNotify=false

[Desktop Action tui]
Name=Open TUI
Exec=caco-tui
