[Desktop Entry]
Categories=Game
Comment=
Exec=caco play
Icon=/home/eshen/.local/repos/caco/src/desktop/icon.png
Keywords=doom;caco
MimeType=application/x-doom-wad;
Name=Caco
NoDisplay=false
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
Type=Application
